.graficos{
margin: 0% 20px;
width: 42%;
height: 300px;
border-radius: 10px;
margin-top: 28px;
margin-left: 50px;
}
.g-pizza-setor{
    border: 2px solid rgb(59, 26, 151);
    float: right;
}
.g-luz-tempo{
    border: 2px solid rgb(13, 218, 30);
   /* box-shadow: 4px 4px 4px 4px rgb(83, 79, 79);*/
    float: left;
    margin-right: 50px;  
}
.g-grafico-mensal{
    border: 2px solid rgb(210, 231, 14);
    width: 92%;
    float: right;
    margin-right: 50px;
}
.g-alerta{
    height: 50px;
    border: 2px solid rgb(231, 21, 14);
}
