

body {
    background-image: url(../img/bg_login.jpg);
    background-repeat: no-repeat;
    background-size: 100%; 
    padding: 0;
    margin: 0;

}

 .container {
    width: 100%;
    min-height: 70px;
    margin-right: 50px;
    height: 100%;
    min-width: 620px;
    
}

.container img{    
    width: 100px;
    margin-top: 2%;
    margin-left: 47%;
}

.box_cadastro {
    margin-left: 30%;
    margin-bottom: 1%; 

    width: 40%;
    height: 710px; 
    background: rgba(34, 38, 41, 0.85);
    border-radius: 20px;
}

.box_cadastro h2 {
    text-align: center;
    color: white;
    margin-bottom: 30px;
    padding-top: 20px;
}

.box_cadastro .input_u {
  
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 25px;
    width: 90%;
    height: 30px;
    font-size: 15px; 
    border-radius: 10px; 
    
    background: none;
    color: #6b6e70; 
    border-color:#86C232;
    border-radius: 5px; 
    
} 

.box_cadastro .input_u2 {
  
  margin-left: 5%;
  margin-bottom: 25px;
  width: 25.8%;
  height: 30px;
  font-size: 15px; 
  border-radius: 10px; 
  
  background: none;
    color: #6b6e70; 
    border-color:#86C232;
    border-radius: 5px; 
  
} 



.box_cadastro button {
  
 
  text-align: center;
  text-decoration: none;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 25px;
  width: 90%;
  height: 50px;
  font-size: 24px;
  border-radius: 10px;

  color: white; 
  background: none;
  border-color:#86C232;
  border-radius: 5px; 
 
}

.box_cadastro button:hover {
  background: #86C232;
}
.box_cadastro .check {
  margin-left: 5%;
  
}



.box_cadastro .forgot_pass {
  float: right;
  padding-right: 5%;
} 

a {
  text-decoration: none;
  color: black;
}

.register {
  margin: auto;
  width: 28%;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
  border-top: black solid 2px;
 
}
.box_cadastro #div_mensagem {
  width: 80%;
  padding-left: 10%;
  padding-top: 10%;
}